a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
h1 {
    font-family: Helvetica, Arial, sans-serif;
}
.mainContent {
    max-width: 1200px;
    margin: 0 auto
}
.tabsWrapper {
    display: flex;
    background-color: #f1f1f1;
}
.tabs {
    background-color: #f1f1f1;
    color: #020202;
    padding: 20px;
    cursor: pointer;
}